/vendor
/node_modules
.env
.env.*
!.env.example
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
.git
.gitignore
.editorconfig
.phpunit.result.cache
Homestead.json
Homestead.yaml
docker-compose*.yml
Dockerfile*
*.md
.DS_Store
tests
phpunit.xml
