includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 7
    paths:
        - app/
    excludePaths:
        - app/Filament/
    tmpDir: storage/phpstan
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
